.parentContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;

}

.flexChild {
    text-align: center;
    width: 120px;
    color: #fff;
    margin: 20px;
}

.blue {
    background-color: rgb(0, 161, 167);
}
.green {
    background-color: rgb(62, 216, 62);
}
.purple {
    background-color: rgb(233, 0, 78);
}

.nav {
    background-color: beige;
}